<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Layout de sitio web con CSS GRID</title>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <h2>HEADER</h2>
        </header>
        <main class="contenido">
            <h1>CONTENIDO</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga velit nihil dolore, architecto quasi maxime officia itaque ab nisi minus explicabo at possimus voluptatem sit voluptas quia! Sit, sint veniam.
            Ipsam id sed vero quidem iste. Nihil modi consectetur itaque aliquam repellat magnam. Ab vero labore incidunt at illum suscipit beatae! Ex nihil esse accusamus iusto ullam maxime, laboriosam illum.
            Natus, aliquid esse? Sunt recusandae laboriosam voluptas praesentium quis ducimus amet, dicta impedit quas vel laudantium temporibus molestias est ullam, in mollitia sit. Autem, suscipit rerum quos quasi consectetur vero!
            Dolore dicta odit est nihil mollitia, voluptatibus reiciendis iste. Similique alias, voluptatem quaerat porro, perspiciatis dolor architecto officiis adipisci vitae eligendi ipsam natus nesciunt quibusdam aut delectus est tenetur labore.
            Quasi earum omnis quo obcaecati quod, repellendus facilis animi laborum odio illo. Ab adipisci temporibus iste voluptas sit, est esse reiciendis commodi consectetur nostrum ut eius necessitatibus recusandae dicta eum.
            Distinctio rem minima quisquam nisi nemo esse recusandae odio dignissimos sint nulla dicta porro laborum omnis, culpa eos repellat magnam praesentium. Blanditiis quibusdam sed dolores obcaecati temporibus magnam deserunt totam?
            Quisquam repudiandae tempora quam itaque impedit sed beatae, assumenda voluptate eum expedita animi ut alias iusto libero qui ducimus! Odio quod totam quasi. Quos praesentium ipsum deserunt placeat quod molestias!</p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat expedita cum animi, beatae perspiciatis blanditiis tenetur ullam sint error quo explicabo sit fuga, obcaecati soluta doloremque nostrum in voluptate excepturi.
            Facilis saepe aliquam beatae veritatis. Ea molestiae facilis aliquid doloremque sapiente culpa iure vel quia, ullam, beatae ipsum. Aut sint distinctio vel provident nam magni commodi temporibus cum possimus nobis?
            Vel itaque recusandae provident ea. Suscipit, maiores. Tenetur animi quidem iure unde doloremque expedita. Consequatur vitae vero minus praesentium quo? Repellat repellendus fugiat accusamus numquam dolorum ducimus magni in praesentium.
            Dolorum ipsum omnis numquam, veritatis iste ducimus repudiandae harum dolorem expedita recusandae incidunt natus perspiciatis itaque quam ex, corporis accusantium id illum! Animi cum enim, labore neque corporis architecto cumque.
            Corrupti possimus, natus doloribus, dolor officiis magni nulla sed est quisquam architecto explicabo reiciendis non numquam ullam ratione ad eligendi, illum consequatur laudantium rerum nisi distinctio eum labore! Facilis, eveniet!</p><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, expedita corrupti minima quisquam obcaecati vitae nemo? Quidem vel eligendi itaque vero, fuga, blanditiis asperiores iusto iure ab consectetur quod ad.
            Facilis sapiente similique tempora itaque voluptas laboriosam non obcaecati adipisci fugiat repellat perspiciatis rem impedit in nobis nesciunt, eum culpa quasi quis quisquam sequi ducimus odio temporibus corporis dolore. Porro!
            Repellat dolor quam dignissimos enim temporibus soluta aperiam nam architecto ratione quasi ducimus sed voluptatibus sequi, obcaecati exercitationem facere deserunt consequatur? Accusantium eveniet et, dolorum facilis perferendis assumenda quo cum.
            Animi deleniti id officiis eius porro, officia eveniet libero quae odit? Necessitatibus blanditiis amet maxime, voluptatem in ipsa delectus perspiciatis cupiditate quas tempora maiores praesentium porro odio laudantium nobis veniam.</p>
        </main>
        <aside class="sidebar">
            <h3>SIDEBAR</h3>
        </aside>
        <div class="widget-1">
            <h3>WIDGET 1</h3>
        </div>
        <div class="widget-2">
            <h3>WIDGET 2</h3>
        </div>
        <footer class="footer">
            <h3>FOOTER</h3>
        </footer>
    </div>
</body>
</html>