<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Flex CSS</title>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <h2>Header</h2>
        </header>
        <article class="articulo">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus minus corporis, culpa consequatur debitis, earum officiis consequuntur, deserunt odit facilis repellendus dolore vitae exercitationem facere molestias ipsum libero neque voluptatem.</p>
        </article>
        <aside class="aside izquierda">
            <h2>Izquierda</h2>
        </aside>
        <aside class="aside derecha">
            <h2>Derecha</h2>
        </aside>
        <footer class="footer">
            <h2>Footer</h2>
        </footer>
    </div>
</body>
</html>