
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.header, .articulo, .izquierda,
.derecha, .footer{
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;
}

.header{background: #581845;}
.articulo{background: #ffc300;}
.izquierda{background: #900c3f;}
.derecha{background: #c70039;}
.footer{background: #daf7a6;}

@media all and (min-width: 600px){
    .aside{flex: 1 1 auto;}
}