<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./imagenes/gato.ico">
    <link rel="stylesheet" href="./estilos/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9640448c9c.js" crossorigin="anonymous"></script>
    <title>Blog</title>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <h2>Clinica Veterinaria</h2>
            <nav class="navegacion">
                <a href="./index.html">Nosotros</a>
                <a href="./contacto.html" target="_blank">Contacto</a>
                <a href="./blog.html">Blog</a>
            </nav>
        </header>
        <section class="seccion">
            <article class="widget-1">
                <img src="./imagenes/gato1.jpeg" height="200px" alt="Imagen de gato">
                <div class="articulo"><h3>¿Como entrenar a tu gatito?</h3>
                <p>Tu gatito aprende de dos maneras diferentes: empieza imitando las acciones de su madre y aprende a través de nuevas experiencias y el refuerzo positivo. Si bien los gatitos son más independientes que los cachorros, es importante entrenarlos para que adopten la conducta adecuada desde una edad temprana y aprendan las reglas para compartir un hogar con otras personas y animales.</p></div>
            </article>
            <article class="widget-2">
                <div class="articulo"><h3>¿Por qué es bueno entrenar a tu gatito?</h3>
                    <p>Tu gatito aprende de dos maneras diferentes: empieza imitando las acciones de su madre y luego aprende por sí mismo, a través de la experimentación. Si bien los gatitos son más independientes que los cachorros, es importante entrenarlos para que adopten la conducta adecuada desde una edad temprana y aprendan las reglas de convivencia con otras personas y animales del hogar.</p></div>
                <img src="./imagenes/gato2.jpg" height="200px" alt="Imagen de gato">
            </article>
            <article class="widget-3">
                <img src="./imagenes/gato3.jpg" height="200px" alt="Imagen de gato">
                <div class="articulo">
                    <h3>¿Cómo entrenar a tu gatito para que use la bandeja sanitaria?</h3>   
                    <p>Poné la caja de tu gato en un rincón silencioso. Si tenes otros gatos, asegurate de que sus cajas esten separadas.</p>
                    <p>Asegurate de usar el tipo de arena al que tu gato este acostumbrado. Si no estas seguro, deberás probar varios tipos.</p>
                </div>
            </article>
            <article class="widget-4">
                <div class="articulo">
                    <h3>¿Cómo entrenar a tu gatito para que use la bandeja sanitaria?</h3> 
                    <p>Inmediatamente después de que coma o duerma, pone al gatito en la bandeja sanitaria. Luego, si tu gatito lo permite, rasca las piedritas con sus patitas.</p>
                    <p>Asegurate de vigilar a tu gatito en todo momento. Si parece que tiene que ir al baño, simplemente ponelo en la caja sanitaria.</p>
                    <p>Asegurate de no castigar a tu gatito si tiene un accidente fuera de su caja sanitaria. Esto creará una asociación negativa.</p>
                </div>
                <img src="./imagenes/gato4.jpg" height="200px" alt="Imagen de gato">
            </article>
        </section>
        <footer class="footer">
            <div class="redes">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>  
            </div>
            <p><small>Derechos reservados &copy;</small></p>
        </footer>
    </div>
</body>
</html>