<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./imagenes/gato.ico">
    <link rel="stylesheet" href="./estilos/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9640448c9c.js" crossorigin="anonymous"></script>
    <title>Clinica veterinaria</title>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <h2>Clinica Veterinaria</h2>
            <nav class="navegacion">
                <a href="./index.html">Nosotros</a>
                <a href="./contacto.html" target="_blank">Contacto</a>
                <a href="./blog.html">Blog</a>
            </nav>
        </header>
        <main class="contenido">
            <h1>Quienes somos?</h1>
            <p>Nuestra clinica veterinaria es una institución con veinte años de trayectoria, prestando un servicio profesional y de calidad a sus clientes.
            Desde sus inicios hasta hoy, la institución ha ido creciendo y adquiriendo las infraestructuras necesarias para poder ofrecer un amplio abanico de servicios y especialidades, que le permiten adaptarse a los tiempos y necesidades de nuestros pacientes.</p>

            <img src="./imagenes/veterinaria.jpg" alt="Imagen de perros y gatos" width="90%">

            <p>En la actualidad la clínica cuenta con un grupo de profesionales capacitados para brindar la mejor atención, distribuidos en los centros para cuidar de su
            animal de compañía, trabajando en forma interdisciplinaria y en conjunto para tratar cualquier enfermedad o accidente en un horario continuo de 24 horas, los 365 días del año.</p>
            <p>Al ser una profesión en continua evolución, nuestro personal mantiene una formación permanente en base a cursos y talleres para estar al tanto de los últimos avances en medicina veterinaria. Nuestro objetivo es promover el trabajo en equipo para mejorar la eficiencia y la calidad en las prestaciones del servicio.</p>
        </main>
        <aside class="sidebar">
            <h3>Consejos para el cuidado de tu mascota durante la cuarentena</h3>
            <p>Según la Universidad Estatal de Carolina del Norte una de las prácticas más sanas para los perros durante la cuarentena es mantener rutinas que les permita sentirse seguros. "Cuanto más los animales pueden predecir lo que puede pasar, más cómodos se sienten", señala la institución.
            Esto aplica tanto para los paseos que dan a los alrededores como para el sueño y las comidas."Trate de mantener básicamente las mismas rutinas de la mañana y de la tarde que tenía cuando debía ir al trabajo o a la escuela", aconseja Margaret Gruen, profesora asistente de medicina del comportamiento en la Facultad de Medicina Veterinaria.</p>
            <p>Asimismo, Gruen señala que para los gatos puede ser un poco más complejo adaptarse a la compañía constante de sus dueños en términos de calidad del sueño. Para ellos, es muy importante que no se les interrumpa la hora de la siesta y que sus espacios no sean invadidos.
            "Si tiene una mascota que pasa el tiempo encerrada o en un lugar particular cuando los humanos no están en casa, puede hacer que regrese lentamente a esa rutina haciendo que esté un momento allí e ir aumentando gradualmente ese tiempo", enfatiza la doctora Gruen.</p>
        </aside>
        <div class="widget-1">
            <p>Urgencias 24hs</p>
            <p>Seguimos Protocolo COVID_19</p>
            <p>Para cuidarnos entre todos</p>
        </div>
        <div class="widget-2">
            <p>Atencion presencial</p>
            <p>De 8 a 21hs</p>
            <p>Todos los dias</p>
            <p>Sin turno previo</p>
        </div>
        <div class="ubicacion">
            <div class="widget-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.385501618243!2d-58.40455698501364!3d-34.594412180461944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca908d89b80f%3A0xdd304872ef2d09e0!2sAv.%20Santa%20Fe%20%26%20Av.%20Pueyrred%C3%B3n%2C%20C1015%20CABA!5e0!3m2!1ses!2sar!4v1631910733777!5m2!1ses!2sar" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="widget-3">
                <h3>Donde estamos?</h3>
                <p>Santa Fe y Pueyrredon</p>
                <p>CP 1015 CABA</p>
            </div>
        </div>
        <footer class="footer">
            <div class="redes">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>  
            </div>
            <p><small>Derechos reservados &copy;</small></p>
        </footer>
    </div>
</body>
</html>